<section class="grid items-center justify-center">
    <div class="mt-20">
        <h2 class="text-4xl font bold text-primary">Conversor de Arquivos</h2>
        <p class="text-lg mt-4">Converta seus arquivos para qualquer formato</p>
    </div>
</section>

<section class="grid items-center justify-center">
    <div class="card bg-white w-[60rem] h-[20rem] mt-12">
        <div class="card-body items-center text-center">
          <h2 class="card-title">Conversor de arquivos</h2>
          <p>Selecione o arquivo que deseja converter</p>

          <div>
            <input type="file" class="file-input w-full file-input-md max-w-lg file-input-primary" (change)="onFileSelected($event)"/>
          </div>

          <div class="pt-3" *ngIf="extensionsAvaiables && extensionsAvaiables.length">
            <select class="select select-primary w-full max-w-xs">
                <option disabled selected>Para</option>
                <option *ngFor="let format of extensionsAvaiables">{{ format }}</option>
              </select>
          </div>
          
          <div class="w-full flex justify-end pt-5">
            <button class="btn btn-primary w-48">Converter</button>
          </div>
        </div>
      </div>
</section>